div.wrapper {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.sort-arrows {
  width: 20px;
  float: left;
}
div.after-sort-arrows {
  margin-left: 25px;
}
/* charts on the homepage */
.history-chart {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  float: none;
}
.history-chart p {
  text-align: center;
}
