
<filesMatch "((index\.html)|(json.*))$">
    <ifModule mod_headers.c>
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    </ifModule>
</filesMatch>
